

.row {
    display: flex;
    
    
}

.col {
    flex:1;
    padding:20px;
    margin:10px;
    background-color: teal;
    color: white;
    
}
.col-2 {
    flex:2;
    padding:20px;
    margin:10px;
    background:teal;
    color: white;
    justify-self: start;

}
.col-3 {
    flex:3;
    padding:20px;
    margin:10px;
    background-color: teal;
    color: white;
    justify-self: start;
}